<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Otis AI</h1>
        <h2>Welcome <%= user.username %>!</h2>
        <h3>Your API Keys</h3>

        <h4>Create a new API key</h4>

        <form action="/user/add-api-key" method="post">
            <div class="container">
                <p>Please use the form below to add your API keys.</p>
                <hr>

                <label for="keyname"><b>Name</b></label>
                <input type="text" placeholder="Give a name to your API Key" name="keyname" id="keyname" required>

                <label for="orgid"><b>Organization ID</b></label>
                <input type="text" placeholder="Enter Organization ID" name="orgid" id="orgid" required>
            
                <label for="secretkey"><b>Key</b></label>
                <input type="password" placeholder="Enter you secret API Key" name="secretkey" id="secretkey" required>

                <input type="checkbox" id="primarykey" name="primarykey" value="true">
                <label for="primarykey">This will be my primary key</label><br>
            
                <button type="submit">Add API Key</button>
            </div>
            
        </form>

    </body>
</html>